$bgColor: rgb(223, 239, 255);
$borderColor: rgb(55, 56, 61);
$scrollBarTrack: rgb(29, 29, 32);
$scrollBarThumb: rgb(105, 151, 197);

.menu-page {
  display: grid;
  grid-template-rows: max-content;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  background: $bgColor;
  padding: 2rem;
  border: 0.5rem solid $borderColor;
  border-radius: 4px;
  overflow-y: auto;

  /* Firefox scrollbar customization */
  scrollbar-color: $scrollBarThumb $scrollBarTrack;

  /* Chrome, Edge, Safari and Opera scrollbar customization */
  &::-webkit-scrollbar {
    background: $scrollBarTrack;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollBarThumb;
    border-radius: 5px;
  }

  h2 {
    font-size: 2rem;
  }
}
