* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  justify-items: center;
  grid-template-rows: max-content;
  gap: 4rem;

  background: url('../imgs/restaurant-bg.jpg');
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100vw;
  min-height: 100vh;

  &::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    min-width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(4px);
  }

  * {
    z-index: 1;
  }

  .navbar {
    grid-area: 1 / 1 / 2 / -1;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .content-container {
    display: grid;
    justify-items: center;
    width: 50vw;
    height: max-content;
  }
}

.home-page {
  display: none;
}
