$bgColor: rgb(223, 239, 255);
$borderColor: rgb(55, 56, 61);

.contact-page {
  display: grid;
  grid-auto-rows: max-content;
  justify-items: center;
  gap: 1rem;
  background: $bgColor;
  padding: 2rem;
  border: 4px solid $borderColor;
  border-radius: 4px;
  height: max-content;
}
