$bgColor: rgb(44, 46, 48);
$bgLighterColor: rgb(55, 56, 61);
$txtColor: #fff;

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100vw;
  padding: 2rem;
  background: linear-gradient($bgLighterColor, $bgColor 70%);
  color: $txtColor;

  h2 {
    font-weight: 700;
    font-size: 2rem;
    width: max-content;
  }

  .links-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  a {
    @include no-select();

    width: max-content;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: #9bd1e5;
    }
  }
}
